# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/angular-app-test/CopilotIndices/17.13.431.34963
/.vs/angular-app-test/FileContentIndex/018bf889-9215-4bca-901b-9f0d6cfc0219.vsidx
/.vs/angular-app-test/FileContentIndex/2ff27959-f802-4e95-b247-ecc96129d9ec.vsidx
/.vs/angular-app-test/FileContentIndex/21db2ca3-35e0-45fd-ba0c-78fefcbb73d3.vsidx
/.vs/angular-app-test/FileContentIndex/b25acb7a-20da-44b9-be64-6d1a04f0e7e1.vsidx
/.vs/angular-app-test/FileContentIndex
