<div class="product">
    <div class="product-details">

      <!-- <img [src]="'/assets/images/robot-parts/' + product.imageName" [alt]="product.name" /> -->
      <!-- <img src="{{'/assets/images/robot-parts/' + product.imageName}}" alt="{{product.name}}" /> -->
      <img src="{{getImageUrl(product)}}" [alt]="product.name" />
      
      <div class="product-info">
        <div class="name">{{ product.name }}</div>
        <div class="description">{{ product.description }}</div>
        <div class="category">Part Type: {{ product.category }}</div>
      </div>
    </div>
    <div class="price">
      <div [ngClass]="{linethrough: product.discount > 0}"> {{ product.price | currency }}</div>

      <!-- [ngStyle]="getStyles(product)" -->
      <!-- [style.color]="product.discount > 0 ? 'red' : ''"  -->
      <!-- [ngStyle]="{color: product.discount > 0 ? 'green' : ''}" -->
       
      <!-- [ngClass]="getDiscountClasses(product)">{{ product.price | currency }} -->
      <!-- <div [ngClass]="{linethrough: product.discount > 0, testClass: true}">{{ product.price | currency }}</div> -->
      <!-- <div [class.linethrough]="product.discount > 0">{{ product.price | currency }}</div> -->

      <!-- <div *ngIf="product.discount === 0">{{ product.price | currency }}</div> -->
      <!-- <div [hidden]="product.discount > 0">${{ product?.price?.toFixed(0) }}</div> -->

      <div *ngIf="product.discount > 0" class="discount">
        {{ (product.price * (1 - product.discount)) | currency:'GBP' }}</div>
      <button class="cta" (click)="buyButtonClicked(product)">Buy</button>
    </div>
  </div>